:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --oranged-color: rgb(203, 156, 16);
  --text-color: rgb(182, 180, 180);
  --main-color: rgb(145, 63, 226);
  --backhround-color: rgb(22, 21, 29);
  --Gold-color: rgb(243, 216, 114);
}
/* Paddings */
.p-0 {
  padding: 0px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-10 {
  padding-right: 10px;
}
/* Margins */
.mt-0 {
  margin-top: 0;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-m10 {
  margin-top: -10px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-10 {
  margin-right: 10px;
}
/* Fonts */
.fw-bold {
  font-weight: bold;
}
/* Backgrounds */
.bg-eee {
  background-color: #eee;
}
.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-purple {
  background-color: var(--main-color);
}
.bg-section {
  background-color: #222;
}
.bg-oranged {
  color: rgb(255, 222, 0);
}
.c-gen {
  color: rgb(133, 129, 124);
}
.c-silver {
  color: rgb(194, 194, 194);
}
/* Border Radius */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.b-none {
  border: none;
}
/* Border Styles */
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.borderb-ccc {
  border-bottom: 1px solid #383838;
}
.border-eee {
  border: 1px solid #eee;
}
.border-light {
  border: 1px solid rgb(59, 58, 67);
}
/* widths */
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-fit {
  width: fit-content;
}
/* height */
.h-100 {
  height: 100%;
}
/* displays */
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.d-block {
  display: block;
}
/* Gaps */
.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
/* Positions */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* font-sizes */
.fs-15 {
  font-size: 15px;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-12 {
  font-size: 12px;
}
.fs-25 {
  font-size: 25px;
}
/* colors */
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-oranged {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
.c-text {
  color: var(--text-color);
}
/* Flex styles */
.space-between {
  justify-content: space-between;
}
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Grid styles */

/* Text align */
.txt-c {
  text-align: center;
}
.txt-l {
  text-align: left;
}
.txt-r {
  text-align: right;
}

/* Buttons shape */
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.btn-shape2 {
  padding: 2px 10px;
  border-radius: 6px;
}

/* random */
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}

.align-center {
  align-items: center;
}
